<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149391822612-hniqdrklrubmld4alkhslfal1idd7adt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149391822612-hniqdrklrubmld4alkhslfal1idd7adt</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ekqGix3Glk-MuJkiX2rB0foMNcLkr2I</string>
	<key>GCM_SENDER_ID</key>
	<string>149391822612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rememberMeMobile</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-333c6</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-333c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149391822612:ios:f7f481fcaa46acd977bc01</string>
</dict>
</plist>